@import './var';

.btn-pink {
    background-color: pink;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

.btn-enter {
    margin-top: -16%;
    z-index: 50;
}


/* Définir les animations des boutons */

.btn {
    &__anim {

        transition: transform 300ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
    &:hover {
        transform: scale(1.1);
        text-decoration: underline;
    }
}