{% extends 'base.html.twig' %}

{% block body %}
    <h1> Bienvenue à la Romance des Damoiseaux </h1>
    <h3> Elevage Passion du lévrier whippet depuis 1988 </h3>


            <main id="sommaire">
            <section>
                    <h5>Le Whippet " Un Chien de compagnie par excellence.."</h5>
                    <p class="paragraphe">
                        <img src="/img/ladydi/ladydi5.jpg" alt="ladydi de la romance des damoiseaux" class="img-left" />
                        Le Whippet est un chien intelligent, sociable, et robuste. <br/>
                        Son caractère génial associé à un look irrésistible font
                        de lui , un merveilleux chien de compagnie, agréable
                        et facile à vivre avec tout le monde.
                        Il accepte volontiers de partager son panier et ses jouets et ses repas avec les autres copains chiens ou chats qui vivent à la maison.
                        Le whippet apprécie le confort , il ne refuse jamais un lit douillet ou un bon canapé surtout si c'est pour vous y rejoindre
                        Citadin ou campagnard, sportif ou pantouflard, il s'adapte vite et facilement au mode de vie de sa famille.
                            <br/>
                        Nous espérons que vous serez séduit par le whippet, 
                        et que vous partagerez notre passion pour cette race si attachante. <br/>
                        Bonne visite sur notre site. 
                    </p>
                    <p class="paragraphe">
                        Sabine BOURGET
                    </p>
            </section>
            <section>
                    <h5>Les doudounes et chemises sont arrivées !</h5>
                    <p class="paragraphe">
                        <img src={{ asset("/img/boutique/lot-manteau.jpg")}} alt="manteau pour whippet" class="img-right" />
                        Différents coloris sont disponibles selon la taille souhaitée.
                            <br/>
                        N'hésitez pas à demander des renseignements au 06.09.26.01.30.
                        <a href="/contenu/boutique.php" class="btn btn-info">Voir nos accessoires.</a>
                    </p>
            </section>

        </main>
{% endblock body %}
